li{
   color: red;
   text-decoration: underline;
}
#select{
  /* font-size: 50px; */
}
.deactive{
  font-style: italic;
  text-decoration: line-through;
  /* text-align: right; */
}


ul li{
  color: blue;
}
#lecture>li{
  border: 1px solid rgb(232, 199, 24);
}

ol, ul{
  background-color: powderblue;
}
